In [35]:
#Assumptions
#Ho: All proportions are equal
#H1: All proportions are not equal
#Chi2 test
import pandas as pd 
import numpy as np
import scipy
from scipy import stats

In [4]:
data=pd.read_csv("Costomer+OrderForm.csv")
data

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [15]:
data.head(10)

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free
5   Error Free  Error Free  Error Free  Error Free
6   Error Free   Defective  Error Free  Error Free
7   Error Free  Error Free  Error Free  Error Free
8   Error Free  Error Free  Error Free  Error Free
9   Error Free  Error Free  Error Free  Error Free

In [20]:
data.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [21]:
data.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [25]:
data.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [26]:
data.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [30]:
ErrorFree=[271,267,269,280]
defective=[29,33,31,20]
data1=[ErrorFree,defective]
data1

[[271, 267, 269, 280], [29, 33, 31, 20]]

In [37]:
Chisquares_results=scipy.stats.chi2_contingency(data1)
Chisquares_results

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [ ]:
#P-value= 0.277, as p value>0.05(significance level), we can accept null hypothesis that means, all centres are equal