In [16]:
#Assumptions
#Ho: All proportions are equal
#H1: Not all proportions are equal
#Chi2 test
import pandas as pd 
import numpy as np
import scipy
from scipy import stats
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [30]:
data=pd.read_csv("BuyerRatio.csv")
data

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [37]:
males=[50,142,131,70]
females=[435,1523,1356,750]
sales=[males,females]
sales

[[50, 142, 131, 70], [435, 1523, 1356, 750]]

In [38]:
Chisquares_results=scipy.stats.chi2_contingency(sales)
Chisquares_results

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [ ]:
#P-value= 0.6603094907091882, as p-value > 0.05, we accept null hypothesis, i.e All proportions are equal